<div id="source">
  <type>
    I'm an Adie at <a href="http://adadevelopersacademy.org/">Ada Developers Academy</a>, studying to become a <a href="/projects">web developer</a>. Sometimes I <a href="/blog">blog</a> about my misadventures. I'm also an amateur <a href="/photography">photographer</a>. If you'd like to get in touch with me, try <a href="/contact">here</a>.
  </type>
</div>
<div id="destination">
</div>

<script>
  tply.animate(
    document.getElementById("source"),
    document.getElementById("destination"));
</script>
