<div id="fullpage">

  <!-- Homepage -->
  <div class="section homepage">
    <section class="about-me">
      <span class="typed"></span>
      <p class="intro">
        I made the scariest decision of my life in May 2015 and quit my job to follow my passion for coding. My journey took me across the country from Ohio to Washington. Currently, I am an <a href="http://adadevelopersacademy.org/" target="_blank">Ada Developers Academy</a> student and software engineering intern at <a href="https://www.socrata.com/" target="_blank">Socrata</a>. I'm also an amateur <a href="https://www.flickr.com/photos/acmei/" target="_blank">photographer</a>. I LOVE learning and creating. My current obsessions include Ruby, <a href="https://youtu.be/zucBfXpCA6s" target="_blank">Beethoven</a>, mindfulness, and cheese.
      </p>
    </section>
    <section class="social">
      <a href="mailto:acmei.wang@gmail.com" title="Email Me">
        <i class="fa fa-envelope-o"></i>
      </a>
      <a href="https://twitter.com/acmei" target="_blank" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://github.com/acmei" target="_blank" title="Github">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/acmwang" target="_blank" title="Linkedin">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="resume_2016.pdf" target="_blank" title="Resume">
        <i class="fa fa-file-text-o"></i>
      </a>
    </section>
    <i class="fa fa-angle-down"></i>
  </div>

  <!-- Projects -->
  <div class="section projects">
    <div class="slide">
      <div class="project">
        <img src="images/dbt.png" alt="dbt companion">
        <div class="overlay">
          <div class="content">
            <h3>DBT Companion</h3>
            <p>
              A web application for the participants of Dialectical Behavior Therapy (DBT) and their therapists. Users can create individual profiles to share diary card data, reference skills, save skills, and reach out to emergency contacts.
            </p>
            <p class="technologies">
              Ruby on Rails, JavaScript, jQuery, AJAX, RSpec, PostgreSQL, and AWS Elastic Beanstalk
            </p>
            <a href="http://www.dbtcompanion.com" target="_blank"><i class="fa fa-laptop"></i>Live Site</a>
            <a href="https://github.com/acmei/capstone" target="_blank"><i class="fa fa-github"></i>Github Repo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="project">
        <img src="images/hambre.png" alt="hambre website">
        <div class="overlay">
          <div class="content">
            <h3>Hambre</h3>
            <p>
              An application where users can manage/create recipes, ingredients, and cookbooks and share recipes with other users.
            </p>
            <p class="technologies">
              Technologies: Ruby on Rails, HTML, CSS, Bootstrap, RSpec
            </p>
            <a href="https://hambre.herokuapp.com" target="_blank"><i class="fa fa-laptop"></i>Live Site</a>
            <a href="https://github.com/acmei/C3Projects--AdaCooks" target="_blank"><i class="fa fa-github"></i>Github Repo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="project3"><h1>Slide 3</h1></div>
    <div class="slide" id="project4"><h1>Slide 4</h1></div>
    <div class="slide" id="project4"><h1>Slide 5</h1></div>
  </div>

<script>
  $(document).ready(function() {
    $('#fullpage').fullpage();
  });

  $(function(){
    $(".typed").typed({
      strings:
        [
          "Software Developer",
          "Photographer",
          "Web Designer",
          "Musician",
          "Hi, I'm Anita Wang."
        ],
      typeSpeed: 70,
      backSpeed: 30,
      cursorChar: "∣"
    });
  });
</script>
