<section class="about-me">
  <div class="typing">
    <span class="typed"></span>
  </div>
  <p class="intro">
    I made the scariest decision of my life in May 2015 and quit my job to follow my passion for coding. My journey took me across the country from Ohio to Washington. Currently, I am an <a href="http://adadevelopersacademy.org/" target="_blank">Ada Developers Academy</a> student and software engineering intern at <a href="https://www.socrata.com/" target="_blank">Socrata</a>. I'm also an amateur <a href="https://www.flickr.com/photos/acmei/" target="_blank">photographer</a>. I LOVE learning and creating. My current obsessions include Ruby, <a href="https://youtu.be/zucBfXpCA6s" target="_blank">Beethoven</a>, mindfulness, and cheese.
  </p>
</section>
<section class="social">
  <a href="mailto:acmei.wang@gmail.com" title="Email Me">
    <i class="fa fa-envelope-o"></i>
  </a>
  <a href="https://twitter.com/acmei" target="_blank" title="Twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="https://github.com/acmei" target="_blank" title="Github">
    <i class="fa fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/acmwang" target="_blank" title="Linkedin">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="wang_anita_resume_2016.pdf" target="_blank" title="Resume">
    <i class="fa fa-file-text-o"></i>
  </a>
</section>

<script>
  $(function(){
    $(".typed").typed({
      strings:
        [
          "Web Designer,<br>Photographer,<br>Software Developer.<br>Hi, I'm Anita."
        ],
      typeSpeed: 50,
      backSpeed: 30
    });
  });
</script>
