<!DOCTYPE html>
<html>
  <head>
    <title><%= if @title
      @title = "Anita Wang | #{@title}"
      else
        @title = "Anita Wang"
      end%></title>

    <link href="images/icons/favicon.png" rel="shortcut icon" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="description" content="Web developer in training at Ada Developers Academy">
    <link href="css/reset.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/jquery.fullPage.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/jquery.fullPage.min.js"></script>
    <script src="js/typed.min.js"></script>
  </head>
  <body>
    <%= erb :header %>
    <%= yield %>
    <%= erb :footer %>
  </body>
</html>
