@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Cutive+Mono);

/* ------------------------------ Base Style ---------------------------------*/

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------------- Typography --------------------------------*/

h1, .typed {
  font-family: 'Cutive Mono', serif;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.95rem;
}

/* --------------------------- Animated Typed Cursor -------------------------*/

.typed-cursor {
  opacity: 1;
  font-size: 1.7rem;

  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* ------------------------------- About Me ----------------------------------*/

.typing {
  min-height: 205px;
}

.intro {
  font-size: 0.95rem;
  font-weight: lighter;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
}

.intro a:link, .intro a:active, .intro a:visited {
  color: #26BFBB;
  text-decoration: none;
}

.intro a:hover {
  border-bottom: 1px solid #000;
}

/* Contact/Social Icons */

.social {
  font-size: 1.35rem;
  margin-top: 2rem;
}

.social .fa {
  margin: 0 0.75rem;
}

.social a:link, .social a:active, .social a:visited {
  color: #000;
  text-decoration: none;
}

.fa-linkedin {
  color: #0076B7;
}

.fa-twitter {
  color: #50ABF1;
}

/* --------------------------- Media Queries  --------------------------------*/

@media only screen and (min-width : 320px),
@media only screen and (min-width : 480px) {
  .about-me {
    width: 80%;
  }
}

@media only screen and (min-width : 768px) {
  .about-me {
    width: 70%;
  }
}

@media only screen and (min-width : 992px) {
  .about-me {
    width: 60%;
  }
}

@media only screen and (min-width : 1200px) {
  .about-me {
    width: 45%;
  }
}
