@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300|Cutive+Mono);

/* ------------------------------ Base Style ---------------------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* ------------------------------- Typography --------------------------------*/

h1, .typed {
  font-family: 'Cutive Mono', serif;
  font-weight: bold;
  font-size: 1.75rem;
}

/* --------------------------- Animated Typed Cursor -------------------------*/

.typed-cursor {
  opacity: 1;
  padding-left: 0.45rem;
  font-size: 2.45rem;

  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* --------------------------- Section 1 - About Me --------------------------*/

.about-me {
  margin: auto;
}

.intro {
  margin-top: 1rem;
  font-size: 0.95rem;
  font-weight: lighter;
  line-height: 1.75rem;
  letter-spacing: 0.1rem;
}

.intro a:link, .intro a:active, .intro a:visited {
  color: #26BFBB;
  text-decoration: none;
}

.intro a:hover {
  border-bottom: 1px solid #000;
}

/* Contact/Social Icons */

.social {
  text-align: center;
  margin-top: 2.25rem;
}

.social .fa {
  margin: 0 0.75rem;
}

.social a:link, .social a:active, .social a:visited {
  color: #000;
  text-decoration: none;
}

.fa-linkedin {
  color: #0076B7;
}

.fa-twitter {
  color: #50ABF1;
}

/* Look Down Arrow */

i.fa-angle-down {
  display: block;
  position: absolute;
  bottom: 4%;
  left: 50%;
  font-size: 1.25rem;
}

/*--------------------------- Section 2 - Projects ---------------------------*/

.projects {
  color: #fff;
  background: url(../images/gplaypattern.png) repeat top right;
}

.slide {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  font-weight: lighter;
  line-height: 1.25rem;
  letter-spacing: 0.1rem;
}

.project {
  position: relative;
  margin: 0 auto;
  max-width: 515px;
  max-height: 450px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.project img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 15px;
  opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
}

.project:hover .overlay {
  opacity: 1;
  background: rgba(0, 0, 0, .75);
}

.content h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.content {
  padding: 3rem;
  height: 100%;
}

.technologies {
  font-style: italic;
  font-size: 0.75rem;
  margin: 1.25rem auto;
}

.content i {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.content a:link, .content a:active, .content a:visited {
  display: block;
  color: #fff;
  font-size: 0.75rem;
  text-decoration: none;
  margin: 0.25rem auto;
}

/* --------------------------- Media Queries  --------------------------------*/

@media only screen and (min-width : 320px),
@media only screen and (min-width : 480px) {
  .about-me {
    width: 80%;
  }
}

@media only screen and (min-width : 768px) {
  .about-me {
    width: 70%;
  }
}

@media only screen and (min-width : 992px) {
  .about-me {
    width: 60%;
  }
}

@media only screen and (min-width : 1200px) {
  .about-me {
    width: 45%;
  }
}
